
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

/* .index {
    width: 3%;
    height: 3%;
} */

#blackfld {
    position: fixed;
    top: 45%;
    left: 50%;
}

#blackfldimg {
    width:50%;
}

#brownfld {
    position: fixed;
    top: 60%;
    left: 65%;
   
}

#brownfldimg {
    width:50%;
}

p {
    margin-top: 0px;
}