@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: small;
}

#paragraph {
    width: 34%;
}

a {
    text-decoration: none;
}

a:visited {
color: white;
}

#resume {
    width: 48%;
    border-width: .5px;
    border-color: lightgrey;
}

#resumepic{
    width:70%;
    margin-left: 20%;
    margin-top: 10%;
}